.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background: asset-url("fate.jpg") 50% 50%/cover no-repeat;
  overflow: hidden;
}

.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 60px 20px;
  overflow: auto;
}

.inner {
  margin: auto;
  padding: 40px;
  max-width: 960px;
  font-size: 24px;
  line-height: 40px;
  background: #fff;
  border-radius: 4px;
  color: gray;
}
