.gif {
  display: inline-block;
  width: 180px;
  height: 80px;
  margin: 10px;
  border-bottom: 1px dotted hsl(0, 0%, 80%);
  text-align: center;

  &.new {
    background-color: hsla(60, 100%, 50%, 0.2);
  }
}

.gif img {
  transition: transform 0.2s;
}

.gif img:hover {
  transform: scale(2);
}

.search-link {
  color: hsl(200, 100%, 50%);
}

footer {
  border-top: 1px solid hsl(0, 0%, 90%);
  min-height: 100px;
}
