.index-page {
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: #2d2d2d;

    .title {
      font-size: 60px;
      color: #fff;
    }
  }

  .blocks {
    display: flex;
    margin: 60px 0;
    justify-content: space-around;
    .block {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 200px;

      height: 200px;
      background-color: #eee;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    height: 100px;
    color: #eee;
    background-color: #2d2d2d;

    .powered-by {
      margin-left: 100px;
    }
  }
}
