@import '../common/global-styles';

.progress-bar-container {
  padding: 1rem;
  user-select: none;

  .progress-bar-wrapper {
    position: relative;
  }

  .progress-bar-track {
    height: 1rem;
    width: 100%;
    border-radius: 10000px;
    background-color: $gray-400;
  }

  .progress-bar-cursor {
    position: absolute;
    top: -0.25rem;
    transform: translateX(-50%);

    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10000px;
    cursor: pointer;

    background-color: $blue;
  }
}
