@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

.calendar-table {
  table-layout: fixed;

  .weekend {
    background-color: $gray-100;
  }

  .day-number {
    width: 24px;
  }

  .day-cell {
    height: 80px;
    padding: .25rem;

    &:hover {
      .day-number {
        transform: scale(1.1);
      }
    }

    &:not(.current-month) {
      color: $gray-400;
    }
  }

}

.games {
  .game {
    margin-top: .25rem;
    padding: 0 .25rem;
    font-size: 12px;
    background-color: $gray-200;
    cursor: pointer;
  }
}

.game-card {
  .headline {
    font-size: .75rem;
  }
  .final {
    color: $orange;
  }
  .start-time {
    color: $gray-500;
  }

  .game-line {
    position: relative;

    &.won:after {
      content: '';
      position: absolute;
      right: -0.5rem;

      border: .25rem solid transparent;
      border-right-color: $orange;
    }
    &.lost {
      .score {
        color: $gray-600;
      }
    }

    .logo {
      height: 2rem;
    }

    .score {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }
}
