@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

.calendar-table {
  .weekend {
    background-color: $gray-100;
  }

  .day-number {
    width: 24px;
  }

  .day-cell {
    height: 80px;
    padding: .25rem;

    &:hover {
      .day-number {
        transform: scale(1.1);
      }
    }

    &:not(.current-month) {
      color: $gray-400;
    }
  }

}

.games {
  .game {
    margin-top: .25rem;
    padding: 0 .25rem;
    font-size: 12px;
    background-color: $gray-200;
    cursor: pointer;
  }
}
