//$white:  #fff;
//$black:  #000;
//$red:    #d9534f;
//$orange: #f0ad4e;
//$yellow: #ffd500;
//$green:  #5cb85c;
//$blue:   #0275d8;
//$teal:   #5bc0de;
//$pink:   #ff5b77;
//$purple: #613d7c;

// https://teamcolorcodes.com/philadelphia-76ers-color-codes/
$blue:    #006BB6;
$enable-shadows: true;

@import "~bootstrap/scss/bootstrap.scss";

// Editor styles
.DraftEditor-root {
  padding: 10px;
  border: 1px solid $blue;
}

.name-token,
.address-token {
  margin: 0 2px;
  padding: 2px;
}

.name-token {
  background-color: #ffd5b7;
}

.address-token {
  background-color: rgba(204, 204, 255, 1.0);
}
